* {
    margin: 0;
    padding: 0;
}

.navigation {
    width: 1440px;
    height: 50px;
}

.nav {
    display: flex;
    width: 1440px;
    height: 60px;
}

.nav span {
    display: flex;
    height: 27.31px;
    width: 149px;
    position: relative;
    top: 17px;
    left: 60px;
}

.nav ul {
    display: flex;
    align-items: center;
    width: 576px;
    height: 40px;
    position: relative;
    top: 16px;
    left: 395px;
    gap: 1px;
}

.nav ul li {
    display: flex;
    list-style: none;
    font-family: var(--font1);
    width: 114px;
    height: 24px;
    top: 8px;
    row-gap: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.nav ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav button {
    width: 193px;
    height: 40px;
    border-radius: 20px;
    padding: 11px 16px 11px 16px;
    background-color: #20AD96;
    cursor: pointer;
    position: relative;
    top: 15px;
    left: 293px;
}

.nav button a {
    text-decoration: none;
    color: #FAF8F6;
}

.content {
    width: 1440px;
    height: 677px;
    position: relative;
    top: 15px;
    background-color: #FAF8F6;
}

.content svg {
    margin-left: 60px;
    margin-top: 45px;
}

.content img {
    width: 285px;
    height: 179px;
    position: inherit;
    top: -512px;
    left: 524px;
}

.layout {
    width: 545px;
    height: 396px;
    margin-top: 58px;
    margin-left: 85px;
    border-radius: 10px;
}

.layout h5 {
    color: gray;
    opacity: 40%;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
}

.layout h1 {
    color: rgba(51, 52, 97, 1);
    font-size: 72px;
    font-weight: 900;
}

.layout p {
    font-weight: 900;
    font-size: 18px;
    line-height: 33.8px;
    color: rgba(51, 52, 97, 1);
    padding-top: 5px;
}

.layout button {
    width: 250px;
    height: 42px;
    border-radius: 20px;
    padding: 9px 16px 9px 16px;
    margin-top: 24px;
    background-color: #20AD96;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    gap: 10px;
}

.layout button a {
    text-decoration: none;
    color: #FAF8F6;
}

.layout img {
    width: 462px;
    height: 603px;
    margin-top: -429px;
    margin-left: 635px
}

.introduction {
    width: 1440px;
    height: 734px;
}

.introduction svg {
    width: 101px;
    height: 17px;
    margin-left: 140px;
    margin-top: 100px;
}

.introduction-box1 {
    width: 1034px;
    height: 200px;
    margin-top: 129px;
    margin-left: 150px;
}

.introduction-box1 h1 {
    width: 492px;
    height: 112px;
    margin-top: -96px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: rgba(51, 52, 97, 1);
}

.introduction-box1 p {
    width: 468px;
    height: 200px;
    margin-top: -96px;
    margin-left: 516px;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: rgba(74, 85, 108, 1);
}

.introduction-box2 {
    width: 1140px;
    height: 328px;
    margin-top: -370px;
    margin-left: -5px;
}

.introduction-box2-homearticle1 {
    width: 270px;
    /*height: 328px;*/
    margin-top: 365px;
    margin-left: 115px;
    padding: 40px;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.introduction-box2-homearticle1 img {
    width: 72px;
    height: 72px;
}

.introduction-box2-homearticle1 h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: -3%;
    color: rgba(4, 20, 52, 1);
}

.introduction-box2-homearticle1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: rgba(74, 85, 108, 1);
}

.introduction-box2-homearticle2 {
    width: 270px;
    /*height: 328px;*/
    margin-top: -288px;
    margin-left: 518px;
    padding: 40px;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.introduction-box2-homearticle2 img {
    width: 72px;
    height: 72px;
}

.introduction-box2-homearticle2 h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: -3%;
    color: rgba(4, 20, 52, 1);
}

.introduction-box2-homearticle2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: rgba(74, 85, 108, 1);
}

.introduction-box2-homearticle3 {
    width: 270px;
    /*height: 328px;*/
    margin-top: -287px;
    margin-left: 935px;
    padding: 40px;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.introduction-box2-homearticle3 img {
    width: 72px;
    height: 72px;
}

.introduction-box2-homearticle3 h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    letter-spacing: -3%;
    color: rgba(4, 20, 52, 1);
}

.introduction-box2-homearticle3 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: rgba(74, 85, 108, 1);
}

.review {
    width: 1440px;
    height: 435px;
    background: rgba(250, 248, 246, 1);
}

.review-pointinghand {
    width: 1440px;
    height: 276px;
    cursor: pointer;
}

.review h1 {
    width: 287px;
    height: 112px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: -1%;
    position: relative;
    top: 40px;
    left: 130px;
    color: rgba(51, 52, 97, 1);
}

.review-box1 {
    width: 304px;
    height: 200px;
    margin-top: 4vh;
    margin-left: 17vh;
    padding: 8px;
    opacity: 100%;
    background-color: white;
}

.review-box1 p {
    width: 304px;
    height: 115px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: rgba(74, 85, 108, 1);
}

.review-box1 span {
    width: 304px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: rgba(51, 52, 97, 1);
}

.review-box1 img {
    height: 70px;
    border-radius: 80px;
}

.review-box2 {
    width: 304px;
    height: 200px;
    margin-top: -217px;
    margin-left: 458px;
    padding: 8px;
    opacity: 100%;
    background-color: white;
}

.review-box2 p {
    width: 304px;
    height: 115px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: rgba(74, 85, 108, 1);
}

.review-box2 span {
    width: 304px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: rgba(51, 52, 97, 1);
}

.review-box2 img {
    height: 70px;
    border-radius: 80px;
}

.review-box3 {
    width: 304px;
    height: 200px;
    margin-top: -217px;
    margin-left: 855px;
    padding: 8px;
    opacity: 100%;
    background-color: white;
}

.review-box3 p {
    width: 304px;
    height: 115px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: rgba(74, 85, 108, 1);
}

.review-box3 span {
    width: 304px;
    height: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: rgba(51, 52, 97, 1);
}

.review-box3 img {
    height: 70px;
    border-radius: 80px;
}

.blog {
    width: 1440px;
    height: 840px;
    position: relative;
}

.blog h1 {
    width: 680px;
    height: 112px;
    position: relative;
    top: 60px;
    left: 330px;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;
    color: rgba(51, 52, 97, 1);
}

.blog-fram1 {
    width: 344px;
    height: 379px;
    position: relative;
    top: 96px;
    left: 842px;
    padding: 2px;
    gap: 30px;
    display: flex;
    border: 1px solid rgba(237, 239, 245, 1)
}

.blog-fram1 img {
    width: 340px;
    height: 160px;
    position: relative;
    top: 2px;
    left: 2px;
}

.blog-fram1-title {
    width: 300px;
    height: 172px;
    display: grid;
    gap: 12px;
    margin-top: 168px;
    margin-left: -339px;
}

.blog-fram1-title h6 {
    width: 300px;
    height: 64px;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    color: rgba(51, 52, 97, 1);
}

.blog-fram1-title p {
    width: 300px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(74, 85, 108, 1);
}

.blog-fram2 {
    width: 344px;
    height: 379px;
    position: relative;
    top: -289px;
    left: 443px;
    padding: 2px;
    gap: 30px;
    display: flex;
    border: 1px solid rgba(237, 239, 245, 1)
}

.blog-fram2 img {
    width: 340px;
    height: 160px;
    position: relative;
    top: 2px;
    left: 2px;
}

.blog-fram2-title {
    width: 300px;
    height: 172px;
    display: grid;
    gap: 12px;
    margin-top: 168px;
    margin-left: -339px;
}

.blog-fram2-title h6 {
    width: 300px;
    height: 64px;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    color: rgba(51, 52, 97, 1);
}

.blog-fram2-title p {
    width: 300px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(74, 85, 108, 1);
}

.blog-fram3 {
    width: 344px;
    height: 379px;
    position: relative;
    top: -674px;
    left: 55px;
    padding: 2px;
    gap: 30px;
    display: flex;
    border: 1px solid rgba(237, 239, 245, 1)
}

.blog-fram3 img {
    width: 340px;
    height: 160px;
    position: relative;
    top: 2px;
    left: 2px;
}

.blog-fram3-title {
    width: 300px;
    height: 172px;
    display: grid;
    gap: 12px;
    margin-top: 168px;
    margin-left: -339px;
}

.blog-fram3-title h6 {
    width: 300px;
    height: 64px;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    color: rgba(51, 52, 97, 1);
}

.blog-fram3-title p {
    width: 300px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(74, 85, 108, 1);
}

.blog button {
    width: 250px;
    height: 42px;
    border-radius: 10px;
    padding: 9px 16px 9px 16px;
    background-color: #20AD96;
    cursor: pointer;
    position: relative;
    top: -595px;
    left: 490px;
}

.blog button a {
    text-decoration: none;
    color: #FAF8F6;
}

.free-guides {
    width: 1440px;
    height: 878px;
    position: relative;
}

.free-guides img {
    width: 446px;
    height: 581px;
    position: relative;
    top: 158px;
    left: 702px;
}

.free-guides-ellipse {
    width: 96px;
    height: 96px;
    position: relative;
    top: -475px;
    left: 1092px;
    background-color: rgba(32, 173, 150, 1);
    border-radius: 50px;
}

.free-guides-ellipse span {
    padding: 35px 2px 10px 8px;
    color: white;
    position: absolute;
}

.free-guides h1 {
    width: 490px;
    height: 168px;
    position: relative;
    top: -498px;
    left: 70px;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: rgba(51, 52, 97, 1);
}

.free-guides p {
    width: 550px;
    height: 200px;
    position: relative;
    top: -459px;
    left: 70px;
}

.free-guides button {
    width: 250px;
    height: 42px;
    border-radius: 10px;
    padding: 9px 16px 9px 16px;
    background-color: #20AD96;
    cursor: pointer;
    position: relative;
    top: -445px;
    left: 240px;
}

.free-guides button a {
    text-decoration: none;
    color: #FAF8F6;
}

.CTA {
    width: 1440px;
    height: 576px;
}

.CTA-content {
    width: 1105px;
    height: 480px;
    border-radius: 24px;
    background: rgba(250, 248, 246, 1);
    position: relative;
    left: 70px;
}

.CTA-content h1 {
    width: 550px;
    height: 90px;
    font-weight: 800;
    font-size: 36px;
    line-height: 44.65px;
    color: rgba(51, 52, 97, 1);
    padding-top: 95px;
    padding-left: 35px;
}

.CTA-content p {
    width: 480px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    color: rgba(74, 85, 108, 0.5);
    padding-left: 40px;
    line-height: 60px;
}

.CTA-content button {
    width: 250px;
    height: 42px;
    border-radius: 10px;
    padding: 9px 16px 9px 16px;
    background-color: #20AD96;
    cursor: pointer;
    position: relative;
    top: -280px;
    left: 110px;
}

.CTA-content button a {
    text-decoration: none;
    color: white;
}

.CTA-content img {
    width: 560px;
    height: 432px;
    position: relative;
    top: -167px;
    left: 293px;
}

.footer {
    width: 1440px;
    height: 525px;
    position: relative;
    top: 2645px;
}

.footer-section {
    width: 1440px;
    height: 180px;
    padding: 48px, 0px, 48px, 0px;
    display: flex;
    gap: 64px;
    background: rgba(250, 248, 246, 1);
}

.footer-container1 {
    width: 1163px;
    height: 84px;
    padding: 25px 32px 25px 32px;
    display: flex;
    gap: 64px;
}

.footer-container2 {
    width: 1216px;
    height: 84px;
}

.footer-container3 {
    width: 738px;
    height: 84px;
}

.footer-container3 h6 {
    width: 738px;
    height: 38px;
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    color: rgba(51, 52, 97, 1);
}

.footer-container3 p {
    width: 738px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 65px;
    color: rgba(74, 85, 108, 1);
}

.footer-container4 {
    width: 446px;
    height: 44px;
    display: flex;
    gap: 16px;
    position: relative;
    left: 620px;
    top: -46px;
}

.footer-container4 input {
    width: 280px;
    height: 27px;
    border-radius: 12px;
}

.footer-container4 button {
    width: 135px;
    height: 30px;
    border-radius: 10px;
    padding: 9px 16px 9px 16px;
    background-color: #20AD96;
    cursor: pointer;
    position: relative;
}

.footer-section1 {
    width: 1440px;
    height: 213px;
    padding: 64px 0px 48px 0px;
    display: flex;
    gap: 64px;
}

.footer-section2 {
    width: 1280px;
    height: 204px;
    padding: 0px 32px 0px 32px;
    display: flex;
    gap: 48px;
}

.footer-section3 {
    width: 1216px;
    padding: 0px 26px 0px 26px;
}

.footer-section3-logo {
    width: 320px;
    height: 108px;
    display: grid;
    gap: 26px;
}

.footer-section3-logo img {
    width: 149px;
    height: 28px;
}

.footer-section3-logo p {
    width: 320px;
    height: 48px;
    opacity: 50%;
    font-size: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(74, 85, 108, 0.5);
}

.footer-section3-links {
    width: 832px;
    height: 204px;
    display: flex;
    gap: 32px;
    position: relative;
    top: -108px;
    left: 321px;
    padding: 0px 75px 0px 75px;
}

.footer-section3-links1 {
    width: 400px;
    height: 204px;
    display: grid;
    gap: 16px;
}

.footer-section3-links1 h3 {
    width: 300px;
    height: 20px;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: rgba(51, 52, 97, 1);
}

.footer-section3-links1 ul {
    width: 576px;
    height: 40px;
    margin-top: -78px;
}

.footer-section3-links1 ul li {
    display: flex;
    list-style: none;
    width: 103px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-section3-links1 ul li a {
    text-decoration: none;
    color: rgba(74, 85, 108, 0.5);
}

.footer-section3-links2 {
    width: 400px;
    height: 204px;
    display: grid;
    gap: 16px;
}

.footer-section3-links2 h3 {
    width: 300px;
    height: 20px;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    color: rgba(51, 52, 97, 1);
}

.footer-section3-links2 ul {
    width: 576px;
    height: 40px;
    margin-top: -78px;
}

.footer-section3-links2 ul li {
    display: flex;
    list-style: none;
    width: 103px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(74, 85, 108, 0.5);
}

.footer-container5 {
    width: 1216px;
    height: 24px;
    justify-content: space-between;
    display: flex;
    position: relative;
    top: -24px;
    left: 54px;
}

.footer-container5-made {
    width: 217px;
    height: 14px;
}

.footer-container5-made h6 {
    width: 217px;
    height: 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: grey;
}

.footer-container6-social {
    width: 120px;
    height: 24px;
    gap: 24px;
    display: flex;
    position: relative;
    right: 148px;
}

.footer-container6-social svg {
    width: 24px;
    height: 24px;
}
